<script total>
exports.id = 'code';
exports.name = 'Code';
exports.group = 'Data Manipulation';
exports.version = '1.0.0';
exports.icon = 'ti ti-code';
exports.author = 'Total.js | Alberto Cruz';
exports.kind = 'action';
exports.inputs = [{ id: 'input', name: 'Input: data' }];
exports.outputs = [
	{ id: 'output1', name: 'Output 1: 1' },
	// { id: 'error', name: 'Error' }
];
exports.config = {
	outputs: 1,
	code: `// # Input data #
// data types: {String/Number/Boolean/Date/Buffer/Object};
// let variable_1 = data;
// let variable_2 = data.message;

// # Output data #
//send(data);
// OR
//send(output_number, data);

// send(1, variable_2);`
};
exports.meta = {
	settingswidth: 1280,
	display: true
};

exports.make = (instance, config) => {
	let fn = null;
	
	instance.message = $ => {
		const send = (...args) => {
			if (args.length === 1) {
				$.send('output1', args[0]);
			} else if (typeof args[0] === 'number') {
				$.send('output' + args[0], args[1]);
			} else {
				$.send(args[0], args[1]);
			}
		};

		try {
			fn(send, $.data);
		} catch (err) {
			instance.throw('Code: ' + err.message);
			// $.send('error', err?.message || String(err));
		}

		$.destroy();
	};

	instance.configure = () => {
		instance.outputs = Array.from({ length: config.outputs }, (_, i) => ({
			id: 'output' + (i + 1),
			name: 'Output ' + (i + 1) + ': ' + (i + 1)
		}));
		// instance.outputs.push({ id: 'error', name: 'Error' });

		instance.save();

		try {
			fn = new Function('send', 'data', config.code);
		} catch (err) {
			fn = new Function('send', 'data', '');
			instance.throw('Code: ' + err.message);
		}
	};

	instance.close = () => { fn = null; };

	instance.configure();
};
</script>

<readme>
Ejecuta el código JavaScript programado al recibir un mensaje.

Puedes enviar mensajes a las salidas empleando:
- `send(data)` → envía a la única o primera salida `Output 1`
- `send(N, data)` → envía a la salida `Output N`
</readme>

<settings>
<div class="padding">
	<ui-component name="input" path="?.outputs" config="type:number;minvalue:1;maxvalue;8">Número de salidas</ui-component>
	<ui-component name="codemirror" path="?.code" config="type:javascript;minheight:300;parent:auto;margin:60;tabs:true;trim:true">Código</ui-component>
</div>
</settings>

<body>
	<header><i class="$ICON"></i>$NAME</header>
	<footer>Data Manipulation</footer>
</body>

<style>
.CLASS header, .CLASS footer, figure[data-id="code"] { background-color: #f0c59a; }
</style>
