<script total>
exports.id = "mqttclient";
exports.name = "MQTT Client";
exports.icon = "ti ti-exchange";
exports.group = "MQTT";
exports.author = "Total.js | Alberto Cruz";
exports.version = "1";
exports.npm = ["mqtt"];
exports.flags = ["mqttclient"];

exports.config = {
	host: "localhost",
	port: 1883,
	secure: false
};

exports.outputs = [{ id: "output", name: "Error" }];

exports.make = function (instance, config) {
	const mqtt = require("mqtt");
	let client;
	const subscriptions = {};

	const state = () => {
		let obj;
		if (!client) {
			obj = {
				connected: false,
				connecting: false,
				disconnected: true,
				disconnecting: false,
				status: "disconnected"
			};
		} else {
			const { connected, disconnecting, reconnecting } = client;
			obj = {
				connecting: client.stream ? client.stream.connecting : false,
				connected,
				disconnecting,
				reconnecting
			};
			const current = Object.keys(obj).filter(s => obj[s]);
			obj.status = current.length ? current[0] : "disconnected";
		}
		instance.state = { status: obj.status, name: `${config.host}:${config.port}` };
		instance.status(instance.state);
		return obj;
	};

	function disconnect(callback) {
		if (!client) return callback && callback();
		client.end?.(true, () => {
			client.removeAllListeners();
			client = null;
			callback && callback();
		});
	}

	function connect() {
		state();
		const uri = `${config.secure ? "mqtts" : "mqtt"}://${config.host}:${config.port}`;
		config.name = `[MQTT] ${config.host}:${config.port}`;
		const opt = CLONE(config);
		delete opt.auth;
		client = mqtt.connect(uri, opt);

		client.on("connect", () => {
			state();
			notifyDependents();
		});

		client.on("reconnect", state);
		client.on("message", (topic, message) => {
			message = message.toString();
			if (message[0] === "{" || message[0] === "[")
				message = message.parseJSON(true);
			handleMessage(topic, message);
		});

		client.on("close", err => {
			console.log(`${config.name} closed`, err);
			state();
		});

		client.on("error", err => {
			console.log(`${config.name} error`, err);
			state();
		});
	}

	function handleMessage(topic, message) {
		const server_stamp = new Date().toISOString();
		for (const sub in subscriptions) {
			const match = mqttWildcard(topic, sub);
			if (match) {
				subscriptions[sub].forEach(id => {
					const com = instance.main.find(id);
					com?.onmessage(topic, message, match, server_stamp);
				});
			}
		}
		instance.send("output", { topic, message, server_stamp });
	}

	function notifyDependents() {
		const list = instance.main.instances().filter(i =>
			i.module.flags?.includes("mqttclient-dep") && i.config.client === instance.id
		);
		list.forEach(com => com.configure());
	}

	function mqttWildcard(topic, wildcard) {
		if (topic === wildcard) return [];
		if (wildcard === "#") return [topic];

		const t = String(topic).split("/");
		const w = String(wildcard).split("/");
		const res = [];

		for (let i = 0; i < t.length; i++) {
			if (w[i] === "+") {
				res.push(t[i]);
			} else if (w[i] === "#") {
				res.push(t.slice(i).join("/"));
				return res;
			} else if (w[i] !== t[i]) {
				return null;
			}
		}

		return (t.length === w.length) ? res : null;
	}

	instance.configure = () => disconnect(connect);
	instance.close = () => disconnect(notifyDependents);

	instance.publish = (topic, message, options) => {
		const data = typeof message === "string" ? message : JSON.stringify(message);
		client?.publish(topic, data, options, err => {
			if (err) console.log(`${config.name} publish error`, err);
		});
	};

	instance.subscribe = (componentid, topic) => {
		subscriptions[topic] = subscriptions[topic] || [];
		if (!subscriptions[topic].includes(componentid)) {
			client?.subscribe(topic);
			subscriptions[topic].push(componentid);
		}
	};

	instance.unsubscribe = (componentid, topic) => {
		const sub = subscriptions[topic];
		if (sub) {
			subscriptions[topic] = sub.filter(id => id !== componentid);
			if (client?.connected && subscriptions[topic].length === 0) {
				client.unsubscribe(topic);
			}
		}
	};

	instance.configure();
};
</script>

<readme>
MQTT Client

This component connects to an MQTT broker and emits received messages.
</readme>

<style>
.f-mqttclient header {
	background-color: #cdb5cd;
}
.f-mqttclient footer {
	background-color: #cdb5cd;
}
figure[data-id="mqttclient"] {
	background-color: #cdb5cd;
	font-weight: bold;
}
</style>

<settings>
<div class="padding">
	<div class="row m">
		<div class="col-md-4">
			<ui-component name="input" path="?.host" config="placeholder:test.mosquitto.org;required:1">Hostname or IP address</ui-component>
		</div>
		<div class="col-md-4">
			<ui-component name="input" path="?.port" config="type:number;placeholder:1883;required:1;format:">Port</ui-component>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<ui-component name="input" path="?.clientid">Client ID</ui-component>
			<div class="help m">Supports variables, e.g. <code>client_{device-id}</code></div>
			<ui-component name="checkbox" path="?.secure" class="m">Secure (SSL)</ui-component>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<ui-component name="checkbox" path="?.auth" class="m">Require Authorization</ui-component>
		</div>
	</div>
	<ui-bind path="?.auth" config="show:value" class="row block">
		<div class="col-md-6">
			<ui-component name="input" path="?.username" class="m">Username</ui-component>
		</div>
		<div class="col-md-6">
			<ui-component name="input" path="?.password" config="type:password" class="m">Password</ui-component>
		</div>
	</ui-bind>
	<div class="row">
		<div class="col-md-6">
			<ui-component name="checkbox" path="?.lwt" class="m">Last Will & Testament (LWT)</ui-component>
		</div>
	</div>
	<ui-bind path="?.lwt" config="show:value" class="row block">
		<div class="col-md-6">
			<ui-component name="input" path="?.lwttopic">Last Will Topic</ui-component>
			<div class="help m">Supports variables, e.g. <code>lwt/{device-id}</code></div>
		</div>
		<div class="col-md-6">
			<ui-component name="input" path="?.lwtmessage">Last Will Message</ui-component>
			<div class="help m">e.g. <code>{device-id} is offline</code></div>
		</div>
	</ui-bind>
</div>
</settings>

<body>
<header>
	<i class="ICON"></i>NAME
</header>

<div class="component-body">
	<ui-bind path="!STATUS" config="template;show" class="block">
		<script type="text/html">
			<div>Name: <b>{{ value.name }}</b></div>
			<div>Status: <b>{{ value.status }}</b></div>
		</script>
	</ui-bind>
</div>

<footer>
	<b>MQTT</b>
</footer>
</body>
