<script total>
exports.id = 'print';
exports.name = 'Print';
exports.group = 'Data Logger';
exports.version = '1.0.0';
exports.icon = 'ti ti-print';
exports.author = 'Total.js | Alberto Cruz';
exports.inputs = [{ id: 'input', name: 'Input' }];

exports.make = instance => {
	const DTF_ISO8601 = new Intl.DateTimeFormat('en-CA', {
		timeZone: 'Europe/Madrid',
		year: 'numeric',
		month: '2-digit',
		day: '2-digit',
		hour: '2-digit',
		minute: '2-digit',
		second: '2-digit',
		hour12: false,
		timeZoneName: 'shortOffset'
	});

	const STAMP_RE = /(\d{4}-\d{2}-\d{2}), (\d{2}:\d{2}:\d{2}) [A-Z]{3}([+-])(\d{1,2})(?::\d{2})?/;

	function stamp_ISO8601(date = new Date()) {
		return DTF_ISO8601.format(date).replace(STAMP_RE, (_, d, t, sign, h) => `${d} ${t}${sign}${h.padStart(2, '0')}`);
	}

	instance.message = $ => {
		if(!$.data) {
			instance.status(String($.data));
		} else if($.data instanceof Date) {
			instance.status(stamp_ISO8601(new Date($.data)));
		} else {
			instance.status($.data);
		}

		$.destroy();
	};

	instance.trigger = () => { instance.status(''); };
};
</script>

<readme>
El componente muestra el dato entrante.
</readme>

<body>
<header><i class='$ICON'></i>$NAME<button class='button exec' data-exec='FUNC.trigger'>Clear</button></header>
<ui-component name="objecttree" path='!$STATUS' class='selectable'></ui-component>
<footer>Data Logger</footer>
</body>

<style>
.CLASS header, .CLASS footer, figure[data-id='print'] { background-color: #80a07a;}
</style>
