<script total>

	exports.id = 'restcors';
	exports.name = 'CORS';
	exports.group = 'Rest API';
	exports.icon = 'ti ti-html5';
	exports.version = '1';
	exports.author = 'Total.js | Alberto Cruz';
	exports.config = { hostnames: [] };
	exports.meta = { singleton: true };

	exports.make = function(instance, config) {

		var route = null;

		instance.close = function() {
			route && route.remove && route.remove();
			route = null;
		};

		instance.configure = function() {
			route && route.remove && route.remove();
			var url = config.hostnames.join(',');
			route = url ? CORS(url) : CORS();
		};

		instance.configure();

	};

</script>

<readme>
The component enables Cross-Origin Resource Sharing `CORS`, so the web browser will be able to communicate directly with the REST API. The functionality will work only with a defined Proxy endpoint for this Flow.
</readme>

<settings>
	<div class="padding">
		<ui-component name="textboxlist" path="?.hostnames" config="maxlength:50;placeholder:https://www.totaljs.com" class="m">Allowed Hostnames (with protocol)</ui-component>
	</div>
</settings>

<body>
	<header><i class="ICON"></i>CORS</header>
	<div class="padding center">
		<i class="ti ti-html5" style="font-size:50px;color:#BD6B27"></i>
	</div>
		<footer>
		<b>Rest API</b>
	</footer>
</body>

<style>
.f-restcors header {
	background-color: #dbdba5;
}
.f-restcors footer {
	background-color: #dbdba5;
}
figure[data-id="restcors"] {
	background-color: #dbdba5;
	font-weight: bold;
}
</style>
