<script total>
exports.id = 'restendpoint';
exports.name = 'End Point';
exports.group = 'Rest API';
exports.icon = 'ti ti-door';
exports.version = '1';
exports.author = 'Total.js | Alberto Cruz';
exports.config = { url: '/', method: 'GET', timeout: 5000, limit: 5120, upload: false, user: 0, send: 'all', reader: '-' };
exports.outputs = [{ id: 'output', name: 'Output: Request' }];
exports.kind = 'trigger';

exports.make = (instance, config) => {

	let routeRef = null;

	instance.close = () => {
		routeRef?.remove();
		routeRef = null;
	};

	instance.configure = () => {
		routeRef?.remove();
		routeRef = null;

		if (!config.url || !config.method)
			return;

		const flags = [];

		if (F.is5) {
			config.timeout && flags.push('<' + Math.ceil(config.timeout / 1000) + 's');
			flags.push('<' + Math.ceil(config.limit / 1024) + 'MB');
			config.upload && flags.push('@upload');
		} else {
			config.timeout && flags.push(config.timeout);
			config.upload && flags.push('upload');
		}

		const action = ($) => {
			const ctrl = F.is5 ? $ : this;
			const msg = instance.newmessage();

			const cookies = {};
			const rawCookie = ctrl.headers?.cookie;
			if (typeof rawCookie === 'string') {
				for (const line of rawCookie.split(';')) {
					const [key, val] = line.trim().split('=');
					if (key && val && !Object.prototype.hasOwnProperty.call(Object.prototype, key))
						cookies[key] = val;
				}
			}

			const { body, query, params, files, headers, user, url, ip, split, ua } = ctrl;
			let data;

			switch (config.send) {
				case 'payload': data = body; break;
				case 'query': data = query; break;
				case 'files': data = files; break;
				case 'params': data = params; break;
				case 'headers': data = headers; break;
				case 'user': data = user; break;
				case 'cookies': data = cookies; break;
				default:
					data = { body, query, user, files, url, headers, params, ip, split, cookies, ua };
					break;
			}

			msg.refs.controller = ctrl;

			if (files?.wait && config.upload && config.reader && config.reader !== '-') {
				files.wait((file, next) => {
					file.read((err, buffer) => {
						if (!Buffer.isBuffer(buffer)) return next();
						try {
							const allowedEncodings = ['utf8', 'ascii', 'base64', 'hex'];
							const type = config.reader === 'datauri' ? 'base64' : config.reader;
							file.data = type === 'buffer' ? buffer : allowedEncodings.includes(type) ? buffer.toString(type) : null;
							if (config.reader === 'datauri')
								file.data = `data:${file.type};base64,${file.data}`;
						} catch {
							file.data = null;
						}
						next();
					});
				}, () => msg.send('output', data));
			} else {
				msg.send('output', data);
			}
		};

		const auth = config.user === 1 ? '+' : config.user === 2 ? '-' : '';
		const isAPI = config.method === 'API';
		const path = config.url.replace(/#/g, instance.main.id);
		const fullRoute = `${auth}${config.method} ${path}${isAPI && config.action ? ` ${config.action}` : ''}`;
		routeRef = F.is5
			? ROUTE(`${fullRoute} ${flags.join(' ')}`, action)
			: ROUTE(fullRoute, action, flags, config.limit);
	};

	instance.configure();
};
</script>

<readme>
This component registers an HTTP Route and sends request data to the output. It also stores the `controller` instance in `message.refs.controller` so that another component can respond.

__Output data__:

```js
{
	ip: String,
	url: String,
	language: String,
	ua: String,
	user: Object,
	headers: { key: String },
	cookies: { key: String },
	payload: {},
	query: { key: String },
	params: { key: String },
	files: [
		{ type: String, filename: String, path: String, ext: String, size: Number, width: Number, height: Number, data: Buffer|String }
	]
}
```
</readme>

<settings>
	<div class="padding">
		<ui-bind path="flow.head.worker" config="hide:!value || flow.head.origin.length < flow.head.proxyurl.length" class="block">
			<div class="message message-error"><b><i class="ti ti-warning"></i>No proxy endpoint defined.</b><br>This component will not work until then. Please go to main screen, open settings of this FlowStream instance and set the Endpoint.</div>
		</ui-bind>
		<div class="row">
			<div class="col-md-3 m">
				<ui-component name="input" path="?.method" config="required:1;dirsource:GET|GET,POST|POST,PUT|PUT,PATCH|PATCH,DELETE|DELETE,API|API">Method</ui-component>
				<div class="help">HTTP method</div>
			</div>
			<div class="col-md-9 m">
				<ui-component name="input" path="?.url" config="monospace:1;required:1">Relative URL address</ui-component>
				<div class="help">A relative path to: <ui-bind path="flow.head.proxyurl" config="text:value?value:window.location.origin"></ui-bind><br />It supports wildcard <code>/something/*</code> or dynamic arguments <code>/products/{category}/</code>.<br /><code>#</code> will be replaced with a FlowStream <code>id</code> identifier.</div>
			</div>
		</div>

		<hr class="nmt" />

		<ui-bind path="?.method" config="show:value === 'API'" class="block hidden m padding bg-smoke radius">
			<ui-component name="input" path="?.action" config="monospace:1;required:1;placeholder:+users_read/{id}">API Action</ui-component>
		</ui-bind>

		<ui-component name="input" path="?.upload" config="type:checkbox" class="m"><b>Allow uploading files (form data)</b></ui-component>
		<ui-bind path="?.upload" config="enabled">
			<ui-component name="input" path="?.reader" config="dirsource:-|Keep as files,buffer|Buffer,utf8|UTF-8,ascii|ASCII,datauri|Data URI,base64|Base64,hex|Hex">Read files to</ui-component>
		</ui-bind>
		<hr />

		<div class="ui-input-label mt10">Continue as:</div>
		<ui-component name="choose" path="?.user" config="selector:div;type:number" class="iconmenu m">
			<div data-id="1" style="width:90px">
				<i class="ti ti-lock"></i>
				<span>Authorized</span>
			</div>
			<div data-id="2" style="width:90px">
				<i class="ti ti-unlock"></i>
				<span>Unauthorized</span>
			</div>
			<div data-id="0" style="width:90px">
				<i class="ti ti-door-open"></i>
				<span>Both</span>
			</div>
		</ui-component>

		<div class="grid-3">
			<div class="m">
				<ui-component name="input" path="?.timeout" config="required:1;type:number;format:">Timeout</ui-component>
			</div>
			<div class="m">
				<ui-component name="input" path="?.limit" config="required:1;type:number;ricon:!kB;align:1;format:">Request limit</ui-component>
			</div>
			<div class="m">
				<ui-component name="input" path="?.send" config="required:1;dirsource:all|Everything,payload|Payload,query|Query arguments,files|Files,params|Dynamic params,headers|Headers,cookies|Cookies,user|User">Send to output</ui-component>
			</div>
		</div>
	</div>
</settings>

<style>
.CLASS header { background-color: #dbdba5; }
.CLASS footer { background-color: #dbdba5; }
figure[data-id="restendpoint"] {
	background-color: #dbdba5;
	font-weight: bold;
}

.CLASS .method {
	background-color: var(--color);
	color: white;
	padding: 2px 4px;
	border-radius: var(--radius);
	font-size: 11px;
}
.CLASS .endpoint-info {
	font-size: 13px;
	line-height: 1.4;
	margin: 5px 10px;
}
</style>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<div class="component-body">
		<div id="endpoint-info" class="endpoint-info"></div>
	</div>
	<footer>
	<b>Rest API</b>
	</footer>
</body>

<script>
TOUCH(function(exports, reinit) {
	const template = Tangular.compile('{{ if value.user == 1 }}<i class="ti ti-lock red mr10"></i>{{ else if value.user == 2 }}<i class="ti ti-unlock blue mr10"></i>{{ fi }}<span class="method">{{ value.method }}</span> <a href="{{ value.link }}" target="_blank">{{ value.url }}</a>{{ if value.method === "API" }} {{ value.action }}{{ fi }}');


	function reload() {
		const model = CLONE(exports.config);
		model.url = model.url.replace(/#/g, flow.head.id);
		model.link = model.url;

		if (flow.head.proxypath)
			model.link = flow.head.origin + (flow.head.proxypath + model.link).replace(/\/{2,}/g, '/');
		else
			model.link = flow.head.origin + model.link;

		exports.element.find('#endpoint-info').html(template({ value: model }));
	}

	exports.configure = reload;
	reload();
});
</script>
